.ipynb_checkpoints/
.spyproject/
.idea
.kdev4
.vscode
__pycache__
iymetmm.egg-info
sensor_descriptions
Output
TestMetMM.rep
TestMetMM-TRE.arts
jacobian.py
sbatch_alex.sh
cs50_file01.py

iy_metmm.kdev4

