.ipynb_checkpoints/
.spyproject/
.idea
.kdev4
__pycache__
iy_venv
sensor_descriptions
Output
TestMetMM.arts
TestMetMM.rep
TestMetMM-TRE.arts
jacobian.py
sbatch_alex.sh
cs50_file01.py

iy_metmm.kdev4

